<div class="allPage">

<div class="container">
<div class="row"><h2>Your Rolltop Desktop!</h2></div>

<div id="all-apps-thumbs" class="row">

<div class="col-sm-4 first">
<h5>Your Projects <a [routerLink]="['/todo']"> see more</a></h5>
</div> <!-- end of first col div-->

<div class="col-sm-4 second">
<h5>Your Pastebin <a [routerLink]="['/pastebin']"> see more</a></h5>
<h5>Your Places <a [routerLink]="['/places']"> see more</a></h5>
</div> <!-- end of second col div-->

<div class="col-sm-4 third">
<app-quote></app-quote>
<h5>Your Notes <a [routerLink]="['/notes']"> see more</a></h5>
</div> <!-- end of third col div-->


</div> <!-- end of all-apps-thumbs div-->

</div> <!-- end of container div-->
</div>


