<h2> Project Tasks </h2>
  <!--<button (click) = "addTask(project._id)"> Add Task </button> -->

  <h5>Create new task<button (click)="showForm()"> New Task </button></h5>
  <div [hidden]="!show">
      <app-add-task> </app-add-task>
  </div>

<h3> List of tasks </h3>>

<div *ngFor= "let task of projectTasks">
    <p>Task Name: {{task.action}}</p>
    <p>Task Due Time: {{task.dueTime}}</p>
    <p>Task Order Number: {{task.orderNumber}}</p>
    <p>Task Complete: {{task.completed}}</p>
    <button (click) = "showEditT()"> Edit Task </button>
    <button (click) = "deleteTask(task)"> Delete Task </button>

    <div [hidden]="!showEditTask">
        <app-edit-task [taskObj] = 'task'> </app-edit-task>
    </div>

    <hr><br>
    <!-- <a [routerLink]="['entries', oneEntry._id]">See Details</a> --> 
</div>