
<div *ngIf="theUser.username" class="allPage">

  <div id="pageView">
    
    <div class="row">
      <h3>Your Notes</h3>
      <h3 [hidden]="!show">Add a New Note</h3>
    </div>
    <div class="row new-item" [hidden]="show">
      <h5>Create new note<button class="btn btn-outline-info"(click)="showForm()"> Click Here</button></h5>
    </div>

    <div class="row mainContent">
      <div class="col-sm-3 all-notes">
        <ul *ngFor="let oneNote of allTheNotes">
          <li><a [routerLink]="['/notes',oneNote._id]">{{ oneNote.title }}</a></li>
        </ul>
      </div>
      <div class="col-sm-6" [hidden]="!show">
          <app-new-note></app-new-note>
      </div>

    </div> <!-- end of mainContent div-->
  
  </div>  <!-- end of pageView div-->

</div> <!-- end of allPage div-->