
<div class =allPage>
        <div class = "pageView">
                <div class="row">
                        <div class = "col-sm-6">
                                <div class = "projectHeader">
                                        <h2> Projects </h2>
                                        <button (click)="showForm()"> New Project </button>
                                </div>

                                <br> <br> <br>
                                
                                <div [hidden]="!show">
                                        <app-new-project> </app-new-project>
                                </div>

                                <br>
                        </div>

                        <div class = "=col-sm-3">  
                                <h3> List of Projects </h3>
                                <div *ngFor= "let project of projectList">
                                        <div class = "project">
                                                <a [routerLink]= "['/todo/', project._id]"> {{project.title}}</a>
                                        </div>
                                        <br>
                                </div>
                        </div>
                </div>
        </div>
</div>
