<form  (submit)="editTask(taskObj._id)">
    
    <div class="row taskRow">
      <h3>Edit Task</h3>
      <label>Title: </label>
      <input [(ngModel)]="task.action" name="title" type="text" value= "Name">
    
      <br>
    
      <label>DueTime: </label>
      <input [(ngModel)]="task.dueTime" name="title" type = "text" value = "Due Time">
    
      <br>
    
      <label>Order Number: </label>
      <input [(ngModel)]="task.orderNumber" name="title" text = "text" value = "Order Number">
    
      <br>

      <input [(ngModel)]="task.completed" type="radio" name="done" checked> Done<br>
    </div>
    <button>Submit Task Edit</button>

  
  </form>